<web-app>  
   <context-param> 
        <description>Variable</description> 
        <param-name>myProp1</param-name> 
        <param-value>
            hola
        </param-value> 
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>  