<web-app>  
   <context-param> 
        <description>Variable en entorno</description> 
        <param-name>env</param-name> 
        <param-value>
            ${entorno}
        </param-value> 
    </context-param>
   <context-param> 
        <description>Ruta absoluta</description> 
        <param-name>rutaAbsoluta</param-name> 
        <param-value>
            ${rutaAbsoluta}
        </param-value> 
    </context-param>
    <context-param> 
        <description>Ruta relativa</description> 
        <param-name>rutaRelativa</param-name> 
        <param-value>
            ${rutaRelativa}
        </param-value> 
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>  